@{
    ViewData["Title"] = "Deletar Contato";
}

<div style="height: 600px;" class="text-center d-flex justify-content-center align-items-center">
    <div style="width:700px" class="py-3 text-center bg-light">
        <h2>Deseja realmente apagar este contato ?</h2>

        <span>
            <a class="me-2 btn btn-danger" asp-controller="Contact" asp-action="Delete" role="button">Apagar</a>
            <a class="btn btn-primary" asp-controller="Contact" asp-action="Index" role="button">Cancelar</a>
        </span>
    </div>
</div>