@{
    ViewData["Title"] = "Deletar Contato";
}

<div style="height: 600px;" class="text-center d-flex justify-content-center align-items-center">
    <form asp-controller="Contact" asp-action="Delete" method="post">

        <input name="id"  type="hidden" value="@Model" />
        <div style="width:700px" class="py-5 px-4 text-center bg-light">
            <h2>Deseja realmente apagar este contato ? Id</h2>

            <span>
                <button class="me-2 btn btn-danger" type="submit">Apagar</button>
                <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Cancelar</a>
            </span>
        </div>
    </form>
</div>